
body{  
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
.calculator{
    width: 300px;
    /* height: 400px; */
    background-color: rgb(218, 226, 226); 
}
.calculation-display{
color: white;
font-size: 1.3em;
font-weight: lighter;
padding: 0 20px;
display: block;
margin-top: 15px;
}
.main-display{
    background-color: black;
height: 60px;
color: white;
font-size: 2.5em;
font-weight: lighter;
padding: 0 20px;
display: block;
margin-top: 15px;
text-align: right;
}
button{
    flex-grow: 1;
    margin: 2px;
    color: white;
    background-color:rgb(137, 225, 236);
    border: none;
    width: 40px;
}

.btn-number{
    background-color: rgb(79, 204, 120);
}
buttons
.functionBtn{
    display: flex;
    background-color: rgb(56, 29, 207);
   
}
.row{
    display: flex;
    justify-content: space-around;
   height: 60px;
}
#btn-eql{
    background-color: blueviolet;
    width: 114px;
}
#clear{
    
    color: red ;
}




